@model NavbarViewModel
@{
}
<nav class="nav navbar-nav navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-1">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <li class="nav-item dropdown dropdown-slide">
                <a class="nav-link dropdown-toggle text-dark pe-3" data-bs-toggle="dropdown" role="button" aria-expanded="false">Kategoriler</a>
                <ul class="dropdown-menu bg-light">
                    @foreach (var catalog in Model.Catalogs)
                    {
                        <li class="dropdown-item text-dark">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Catalog" asp-route-id="@catalog.Id">
                                @catalog.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>

            <li class="nav-item ms-4">
                <a class="btn btn-black rounded position-relative" asp-controller="Home" asp-action="Favorites">
                    <i class="bi bi-heart"></i>
                    @if (Model.FavoriteCount > 0)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @(Model.FavoriteCount >= 100 ? "99+" : Model.FavoriteCount.ToString())
                            <span class="visually-hidden">Favorilerim</span>
                        </span>
                    }
                </a>
            </li>



            <li class="nav-item ms-4">
                <a class="btn btn-dark rounded position-relative" asp-controller="Home" asp-action="Checkout">
                    <i class="bi bi-cart"></i>
                    @if (Model.ShoppingCartItemCount > 0)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @(Model.ShoppingCartItemCount >= 100 ? "99+" : Model.ShoppingCartItemCount.ToString())
                            <span class="visually-hidden">Sepetim</span>
                        </span>
                    }
                </a>
            </li>
            <li class="nav-item ms-4">
                <a class="search-button  btn btn-white rounded position-relative">
                    <i class="bi bi-search"></i>
                </a>
            </li>

            <li class="nav-item ms-4">
                <div class="user-items ps-5">

                       

                        @if (!User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item dropdown dropdown-slide ">
                    <a class="nav-link btn btn-white rounded position-relative dropdown-toggle text-dark pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i>
                                </a>
                                <ul class="dropdown-menu bg-light">
                                    <li class="nav-item">
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="Login">&#128100 Giriş Yap </a>
                                    </li>
                                    <li>
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="Register">&#128100 Üye Ol </a>
                                    </li>
                                </ul>
                            </li>

                        }

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hoş geldiniz Sn. @User.FindFirst(System.Security.Claims.ClaimTypes.GivenName)!.Value

                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="ChangePassword">
                                            <i class="bi bi-key"></i>
                                            Parola Değiştir
                                        </a>
                                    </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Orders">
                                <i class="bi bi-cart"></i>
                                Siparişlerim
                            </a>

                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                                            <i class="bi bi-person-walking"></i> Çıkış
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        }


                </div>
            </li>

            <div class="search-popup">
                <div class="search-popup-container">

                    <form method="get" asp-action="Search">
                        <input type="search" class="form-control" name="keywords" id="keywords" value="@ViewContext.HttpContext.Request.Query["keywords"]" />
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>

                    <h5 class="cat-list-title">Browse Categories</h5>

                    <ul class="cat-list">
                        @foreach (var catalog in Model.Catalogs)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Catalog" asp-route-id="@catalog.Id">
                                    @catalog.Name
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>

        </div>
    </div>
</nav>